.persönliches-container {
    padding: 10em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.skill-container {
    margin-bottom: 2em;
}

.skill-label {
    margin-bottom: 0.5em;
}

.skill-bar {
    background-color: var(--secondary-color);
    border-radius: 0.5em;
    overflow: hidden;
    height: 1em;
    width: 50%;
}

.skill-bar-fill {
    background-color: var(--main-brand-color);
    height: 100%;
    width: 0%;
    transition: width 2s ease-in-out;
}

.interessen-container {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    border-radius: 1em;
    cursor: pointer;
}

.front_card:hover {
    transform: scale(1.005);
    letter-spacing: 0.5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.back_card:hover {
    cursor: pointer;
}

.front_card_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(images/3d_druck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.back_card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--main-brand-color);
    color: var(--secondary-text-color);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    text-align: center;
    padding: 2em;
}

.front_card_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(images/elektronik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.soziales-engagement {
    padding-left: 20px;
}